@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap');
* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family:'Open Sans', sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header { 
  text-align: center; 
  color: white;
}
#logo {
  width: 6em;
  display: flex;
  align-items: center;
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
}
#logo img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.header p{
  color: #000;
  margin-top: 0px;
}
/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
}

/* Style the navigation bar links */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 31%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 70%;
  background-color: white; 
}
.column {
  flex: 25%;
  padding: 20px;
}
/* Fake image, just for this example */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}
video{ 
  object-fit: cover;
  margin-top: 82px;
  margin-left: 6px;
  padding: 10px;
  cursor: move;
  width: 278px;
  height: 305px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
#click-photo {
  background-color: #004aad; /* Green */
}
#take-shot{
  background-color: #004aad; /* Green */
}
#canvas{
  object-fit: cover;
  margin-top: 82px;
  margin-left: 6px;
  padding: 10px;
  cursor: move;
  width: 278px;
  height: 305px;
}
/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}
/*** slider navigation **/
.slider{ 
  width: 71%;
  margin-left: auto;
  margin-right: auto; 
}
.slider-nav{ 
  margin-left: auto;
  margin-right: auto;  
}
.slider-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.slider-nav li {
  -webkit-box-flex: 2;
  flex: 2;
  text-align: center;
  display: -webkit-box;
  display: flex;
}
.slider img { 
  display: none;
  -webkit-box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
  -moz-box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
  box-shadow: 10px 10px 20px 0 rgba(94,47,59,0.2);
}
.slider img.active {
  display: block;
  -webkit-animation: fadeImg 0.8s;
  -moz-animation: fadeImg 0.8s;
  animation: fadeImg 0.8s;
}
.slider-nav .arrow { 
  flex: 0 0 15%; 
  padding: 11px;
  background-color: #004aad;
  margin-right: 9px; 
  color: #FFF;
}
.slider-nav a {
  flex-basis: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.slider-nav span {
  display: block;
  width: 100%;
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .side{
    font-size: 11px;
  }
  .slider{
    margin: 0px;
    width: auto;
  }
  .slider-nav .arrow{
    flex: none;
  }
}



@-webkit-keyframes 
fadeImg {  from {
 opacity: 0;
}
to { opacity: 1; }
}
@-moz-keyframes 
fadeImg {  from {
 opacity: 0;
}
to { opacity: 1; }
}
@keyframes 
fadeImg {  from {
 opacity: 0;
}
to { opacity: 1; }
}
.clickframe{
  text-align: center;
}
.viewframe{
  text-align: center;
}
/** photoframe style **/
.framebg {
	margin: auto;
	background-image: url('images/photobooth_frame.png');
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 350px;
	height: 450px;
	margin: 2em auto;
	z-index: 100;
}
.card {
	margin: auto;
	background-image: url('../images/photobooth_frame.png');
	box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	width: 350px;
	height: 450px;
	margin: 2em auto;
	z-index: 100;
}
h2{
  text-transform: uppercase;
}
.guide h2{
  text-align: center;
}

.stepper-wrapper {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #004aad;
  color: #FFF;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #004aad;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
}

.stepper-item:first-child::before {
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}